:root {
  --bg: #121212;
  --bg-secondary: #1e1e1e;
  --text: #e0e0e0;
  --text-secondary: #a0a0a0;
  --border: #2a2a2a;

  --primary: #4caf50;
  --secondary: #03a9f4;
  --danger: #f44336;
  --success: #81c784;
  --warning: #ffc107;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, sans-serif;
}

header,
footer {
  background-color: var(--bg-secondary);
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--secondary);
}

.logo {
  width: 75px;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
  padding: 10px 50px 10px 50px;
}

.container {
  padding: 20px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.list li {
  position: relative;
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: 5px;
  width: 300px;
  height: fit-content;
  min-height: 450px;
  padding: 15px;
  gap: 5px;
}

.div-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-secondary);
  top: -15px;
  right: -15px;
  padding: 5px;
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.list img {
  width: 100%;
  border-radius: 5px;
}

.icon {
  width: 100%;
  height: 22px;
  object-fit: contain;
}

.pokemon-name-container,
.pokemon-description-container {
  display: flex;
  flex-direction: column;
}
.pokemon-name {
  padding: 5px 0px 5px 0px;
  font-size: 26px;
  font-weight: 600;
}

.type {
  background-color: var(--bg);
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
}

.type span {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.Water {
  background-color: #086bff;
}

.Fire {
  background-color: #ff3c00;
}

.Plant {
  background-color: #75d309;
}

.description {
  margin-top: 5px;
  padding: 5px;
  color: var(--text-secondary);
  font-size: 15px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.container-info-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

small {
  color: var(--text-secondary);
}
