:root {
  --bg: #121212;
  --bg-secondary: #1e1e1e;
  --text: #e0e0e0;
  --text-secondary: #a0a0a0;
  --border: #2a2a2a;

  --primary: #4caf50;
  --secondary: #03a9f4;
  --danger: #f44336;
  --success: #81c784;
  --warning: #ffc107;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.7s all;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, sans-serif;
}

header,
footer {
  background-color: var(--bg-secondary);
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--secondary);
}

.logo {
  width: 75px;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
  padding: 10px 50px 10px 50px;
}

.container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-direction: column;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.list li {
  position: relative;
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: 5px;
  width: 300px;
  min-height: 500px;
  padding: 15px;
  gap: 5px;
}

.div-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-secondary);
  top: -15px;
  right: -15px;
  padding: 5px;
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-delete {
  position: absolute;
  width: 30px;
  height: 30px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: var(--bg-secondary);
  top: 0px;
  left: 0px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-delete:hover {
  background-color: var(--danger);
}

.pokemon-image {
  width: 100%;
  object-fit: cover;
  height: 280px;
  border-radius: 5px;
}

.icon {
  width: 100%;
  height: 22px;
  object-fit: contain !important;
  cursor: pointer;
}

.icon:hover {
  transform: rotateY(180deg);
}

.icon-delete {
  width: 100%;
  height: 16px;
  object-fit: contain !important;
}

.pokemon-name-container {
  display: flex;
  flex-direction: column;
}

.pokemon-description-container {
  display: flex;
  flex-direction: column;
  min-height: 70px;
  overflow-y: auto;
}
.pokemon-name {
  padding: 5px 0px 5px 0px;
  font-size: 20px;
  font-weight: 600;
}

.type {
  background-color: var(--bg);
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
}

.type:hover {
  background-color: var(--border);
}

.type span {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  display: flex;
}

.type span:hover {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  transform: translateX(10px);
}

.Water {
  background-color: #086bff;
}

.Fire {
  background-color: #ff3c00;
}

.Plant {
  background-color: #75d309;
}

.Eletric {
  background-color: #ffc107;
}
.description {
  margin-top: 5px;
  padding: 5px;
  color: var(--text-secondary);
  font-size: 15px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.container-info-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

small {
  color: var(--text-secondary);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container {
  width: 800px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
  border-radius: 10px;
  border: 1px solid var(--border);
  padding: 40px;
}

.field-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field-container label {
  font-size: 20px;
  color: var(--text-secondary);
  font-weight: 600;
}

.field-container input,
.field-container textarea {
  max-width: 100%;
  background-color: var(--border);
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--text);
  font-size: 16px;
}

.field-container select {
  background-color: var(--border);
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--text);
  font-size: 16px;
}

.field-container input:focus {
  outline: 1px solid var(--success);
}

.field-container :focus {
  outline: none;
}

input[type="file"] {
  font-family: inherit;
  font-size: 14px;
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 6px;
  cursor: pointer;
}

/* estiliza o botão "Escolher arquivo" */
input[type="file"]::file-selector-button {
  background-color: var(--bg-secondary);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

input[type="file"]::file-selector-button:hover {
  background-color: var(--success);
}

.send {
  margin-top: 20px;
  cursor: pointer;
  font-weight: 600;
}
.send:hover {
  background-color: var(--success);
}

.pokemon-info-container {
  display: flex;
  gap: 8px;
}

.info {
  width: 80px;
  display: flex;
  background-color: var(--bg);
  border-radius: 15px;
  border: 1px solid var(--border);
  padding: 5px 9px 5px 9px;
  justify-content: space-between;
  align-items: center;
}

.info:hover {
  transform: translateY(-3px);
}

.info img {
  object-fit: contain;
  width: 13px;
  height: 13px !important;
}

.info small {
  font-size: 13px;
}

.edit {
  width: 100px;
  display: flex;
  background-color: var(--bg);
  border-radius: 15px;
  border: 1px solid var(--border);
  padding: 5px 9px 5px 9px;
  justify-content: space-around;
  align-items: center;
}

.edit:hover {
  background-color: var(--border);
}
.edit img {
  width: 13px;
  object-fit: contain;
}

.line {
  margin-top: 5px;
  height: 1px;
  width: 100%;
  justify-self: center;
  align-self: center;
  border-radius: 1px;
}

.line:hover {
  background-color: var(--border);
}

.current-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.alert {
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.alert-container-confirm {
  width: 500px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
  border: 1px solid var(--border);
  border-radius: 5px;
}

.alert-container-confirm h1 {
  font-size: 20px;
}

.danger {
  background-color: var(--danger);
  border: 5px;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

.danger:hover {
  background-color: var(--border);
  border: 5px;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.cancel {
  background-color: var(--border);
  border: 5px;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
